header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}
#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}


.main-header {
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
}
h3{
  text-align: center;
  color:#f2f2f2;
}
.bold-text {
    font-weight: 900;
    color: white;
}

.lunch{
  background-image: url("../ip2/assets/foodtop/lunch.jpg");
  background-size: cover;
height: 163px;
}
.lunch-header h3 {
    text-align: center;
    position: relative;
}
.breakfast{
  background-image: url("../ip2/assets/foodtop/breakfast.jpg");
  background-size: cover;
height: 163px;
}
.breakfast-header h3 {
    text-align: center;
    position: relative;
}
.dinner{
  background-image: url("../ip2/assets/foodtop/dinner.jpg");
  background-size: cover;
height: 163px;
}
.dinner-header h3 {
    text-align: center;
    position: relative;
}
.part-time {
    background-color: orange;
    padding: 1.8em;
    color: white;
    font-weight: bold;
}


.happy-hour {
    background-color: #e7dada;
    padding: 1.8em;
    font-weight: bold;
}



.fastfood{
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
  }
  .col{
    padding-left: 0;
    padding-right: 0;
    }

.holder {
  position: relative;
  top: -8px;
}
.customers {
  border: 50px;
  padding:50px;
  background-color: white;
}

.v-divider{
 margin-left:5px;
 margin-right:5px;
 width:1px;
 height:100%;
 border-left:1px solid gray;
}
.subscription {
  background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
  text-align: center;
  color: white;
  }

  .footer {
    background-color: orange;
    align-items: center;
  }
